
.Pixso-symbol-3_93 {
        width: 14.40000057220459px;
height: 18px;
position: relative;
      }
.Pixso-vector-3_94 {
        width: 100%;
height: 100%;
background-image: url(@/assets/images/Vector_3_94.png);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;
      }
.component-3_93 {
        width: fit-content;
height: fit-content;
      }

