
.scroll-container {
        height: 100%;
width: 100%;
overflow: auto;
      }
.Pixso-frame-1_459 {
        width: 100%;
height: 884px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
min-height: 884px;
background-color: rgba(255, 255, 255, 1);
background-image: linear-gradient(90deg, rgba(247, 249, 251, 1) 0%, rgba(247, 249, 251, 1) 100%);
      }
.frame-content-1_459 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
min-height: 884px;
padding: 44.5px 0px 44.5px 0px;
width: 100%;
height: 100%;
position: relative;
      }
.Pixso-frame-1_460 {
        width: calc(100% - 0px);
height: calc(100% - 22px);
overflow: hidden;
position: absolute;
left: 0px;
right: 0px;
top: 0px;
bottom: 22px;
display: flex;
flex-direction: column;
align-items: flex-start;
opacity: 0.30000001192092896;
      }
.frame-content-1_460 {
        display: flex;
flex-direction: column;
gap: 40px;
align-items: flex-start;
padding: 24px 24px 24px 24px;
width: 100%;
height: 100%;
position: relative;
      }
.Pixso-frame-1_461 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
      }
.frame-content-1_461 {
        display: flex;
flex-direction: row;
gap: 149.8000030517578px;
align-items: center;
justify-content: flex-start;
width: 100%;
position: relative;
      }
.Pixso-frame-1_462 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 8px;
align-items: center;
      }
.Pixso-vector-1_463 {
        width: 22px;
height: 18px;
background-image: url(@/assets/images/Container18.png);
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
align-items: flex-start;
      }
.Pixso-frame-1_465 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
align-items: flex-start;
      }
.Pixso-paragraph-1_466 {
        font-size: 24px;
font-family: "Source Han Sans CN-Regular";
font-weight: 400;
display: flex;
flex-direction: column;
justify-content: center;
letter-spacing: -0.23999999463558197px;
line-height: 31.200000762939453px;
color: rgba(25, 28, 30, 1);
width: 120.19000244140625px;
height: 32px;
position: relative;
flex-shrink: 0;
      }
.Pixso-rectangle-1_467 {
        width: 40px;
height: 40px;
position: relative;
flex-shrink: 0;
border-radius: 9999px 9999px 9999px 9999px;
background-color: rgba(224, 227, 229, 1);
      }
.Pixso-frame-1_468 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: flex-start;
      }
.frame-content-1_468 {
        display: flex;
flex-direction: row;
gap: 16px;
align-items: flex-start;
width: 100%;
position: relative;
      }
.Pixso-rectangle-1_469 {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
border-radius: 12px 12px 12px 12px;
box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05) ;
background-color: rgba(255, 255, 255, 1);
      }
.stroke-wrapper-1_469 {
        position: relative;
width: 169px;
height: 128px;
flex-shrink: 0;
      }
.stroke-1_469 {
        position: absolute;
inset: 0px;
border-radius: 12px 12px 12px 12px;
pointer-events: none;
border-width: 1px;
border-style: solid;
box-sizing: border-box;
border-color: rgba(193, 198, 215, 0.30000001192092896);
      }
.Pixso-rectangle-1_470 {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
border-radius: 12px 12px 12px 12px;
box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05) ;
background-color: rgba(255, 255, 255, 1);
      }
.stroke-wrapper-1_470 {
        position: relative;
width: 169px;
height: 128px;
flex-shrink: 0;
      }
.stroke-1_470 {
        position: absolute;
inset: 0px;
border-radius: 12px 12px 12px 12px;
pointer-events: none;
border-width: 1px;
border-style: solid;
box-sizing: border-box;
border-color: rgba(193, 198, 215, 0.30000001192092896);
      }
.Pixso-rectangle-1_471 {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
border-radius: 12px 12px 12px 12px;
box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05) ;
background-color: rgba(255, 255, 255, 1);
      }
.stroke-wrapper-1_471 {
        position: relative;
width: 169px;
height: 128px;
flex-shrink: 0;
      }
.stroke-1_471 {
        position: absolute;
inset: 0px;
border-radius: 12px 12px 12px 12px;
pointer-events: none;
border-width: 1px;
border-style: solid;
box-sizing: border-box;
border-color: rgba(193, 198, 215, 0.30000001192092896);
      }
.Pixso-rectangle-1_472 {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
border-radius: 12px 12px 12px 12px;
box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05) ;
background-color: rgba(255, 255, 255, 1);
      }
.stroke-wrapper-1_472 {
        position: relative;
width: 169px;
height: 128px;
flex-shrink: 0;
      }
.stroke-1_472 {
        position: absolute;
inset: 0px;
border-radius: 12px 12px 12px 12px;
pointer-events: none;
border-width: 1px;
border-style: solid;
box-sizing: border-box;
border-color: rgba(193, 198, 215, 0.30000001192092896);
      }
.Pixso-rectangle-1_473 {
        width: calc(100% - 0px);
height: calc(100% - 22px);
position: absolute;
left: 0px;
right: 0px;
top: 0px;
bottom: 22px;
backdrop-filter: blur(1.3333333333333333px);
background-color: rgba(15, 23, 42, 0.4000000059604645);
      }
.Pixso-frame-1_474 {
        width: 100%;
height: 100%;
overflow: hidden;
position: relative;
max-width: 358px;
border-radius: 32px 32px 32px 32px;
box-shadow: 0px 25px 50px -12px rgba(0, 0, 0, 0.25) ;
background-color: rgba(255, 255, 255, 1);
      }
.stroke-wrapper-1_474 {
        position: absolute;
left: 22px;
top: 12px;
width: 358px;
height: 839px;
max-width: 358px;
      }
.stroke-1_474 {
        position: absolute;
inset: 0px;
border-radius: 32px 32px 32px 32px;
pointer-events: none;
border-width: 1px;
border-style: solid;
box-sizing: border-box;
border-color: rgba(255, 255, 255, 0.5);
      }
.Pixso-frame-1_475 {
        width: calc(100% - 2px);
height: 622px;
position: absolute;
left: 1px;
right: 1px;
top: 73px;
display: flex;
flex-direction: column;
align-items: flex-start;
      }
.frame-content-1_475 {
        display: flex;
flex-direction: column;
gap: 24px;
align-items: flex-start;
padding: 24px 24px 0px 24px;
width: 100%;
height: 100%;
position: relative;
      }
.Pixso-frame-1_476 {
        width: calc(100% - 56px);
height: 188px;
position: absolute;
left: 24px;
right: 32px;
top: 0px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
      }
.frame-content-1_476 {
        display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
padding: 32px 0px 20px 0px;
width: 100%;
height: 100%;
position: relative;
      }
.Pixso-frame-1_477 {
        width: 64px;
height: 64px;
position: absolute;
left: 122px;
top: 46.30999755859375px;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
      }
.Pixso-rectangle-1_478 {
        width: 100%;
height: 100%;
position: relative;
border-radius: 9999px 9999px 9999px 9999px;
      }
.stroke-wrapper-1_478 {
        position: absolute;
left: -28px;
top: -28px;
width: 120px;
height: 120px;
      }
.stroke-1_478 {
        position: absolute;
inset: 0px;
border-radius: 9999px 9999px 9999px 9999px;
pointer-events: none;
border-width: 2px;
border-style: solid;
box-sizing: border-box;
border-color: rgba(0, 88, 188, 0.20000000298023224);
      }
.Pixso-rectangle-1_479 {
        width: 100%;
height: 100%;
position: relative;
border-radius: 9999px 9999px 9999px 9999px;
      }
.stroke-wrapper-1_479 {
        position: absolute;
left: -16px;
top: -16px;
width: 96px;
height: 96px;
      }
.stroke-1_479 {
        position: absolute;
inset: 0px;
border-radius: 9999px 9999px 9999px 9999px;
pointer-events: none;
border-width: 2px;
border-style: solid;
box-sizing: border-box;
border-color: rgba(0, 88, 188, 0.4000000059604645);
      }
.Pixso-frame-1_480 {
        width: 64px;
height: 64px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
border-radius: 9999px 9999px 9999px 9999px;
background-color: rgba(0, 112, 235, 1);
      }
.frame-content-1_480 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
width: 100%;
height: 100%;
position: relative;
      }
.Pixso-rectangle-1_481 {
        width: 64px;
height: 64px;
position: absolute;
left: 50%;
top: 50%;
transform: translateX(calc(-50% + 0px)) translateY(calc(-50% + 0px));
border-radius: 9999px 9999px 9999px 9999px;
box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1) , 0px 4px 6px -4px rgba(0, 0, 0, 0.1) ;
background-color: rgba(255, 255, 255, 0.0020000000949949026);
      }
.Pixso-frame-1_484 {
        width: auto;
height: 15px;
position: absolute;
left: 36px;
top: 147.81005859375px;
display: flex;
flex-direction: column;
justify-content: flex-end;
align-items: center;
      }
.frame-content-1_484 {
        display: flex;
flex-direction: column;
align-items: center;
justify-content: flex-end;
padding: 24px 0px 0px 0px;
height: 100%;
position: relative;
      }
.Pixso-paragraph-1_485 {
        font-size: 12px;
font-family: "OPPOSans-Medium";
font-weight: 400;
display: flex;
flex-direction: column;
justify-content: center;
letter-spacing: 1.2000000476837158px;
line-height: 12px;
text-transform: uppercase;
color: rgba(113, 119, 134, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-frame-1_486 {
        width: 308px;
height: auto;
position: absolute;
left: 24px;
top: 188px;
display: flex;
flex-direction: column;
align-items: flex-start;
      }
.frame-content-1_486 {
        display: flex;
flex-direction: column;
gap: 16px;
align-items: flex-start;
width: 100%;
position: relative;
      }
.Pixso-frame-1_487 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
align-items: flex-start;
      }
.frame-content-1_487 {
        display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px 4px 0px 4px;
width: 100%;
position: relative;
      }
.Pixso-paragraph-1_488 {
        font-size: 18px;
font-family: "Source Han Sans CN-Regular";
font-weight: 400;
display: flex;
flex-direction: column;
justify-content: center;
line-height: 25.200000762939453px;
color: rgba(65, 71, 85, 1);
width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.Pixso-frame-1_489 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
align-items: flex-start;
      }
.frame-content-1_489 {
        display: flex;
flex-direction: column;
gap: 12px;
align-items: flex-start;
width: 100%;
position: relative;
      }
.Pixso-frame-1_490 {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
border-radius: 16px 16px 16px 16px;
background-color: rgba(0, 88, 188, 0.05000000074505806);
      }
.frame-content-1_490 {
        display: flex;
flex-direction: row;
gap: 59.279998779296875px;
align-items: center;
justify-content: flex-start;
padding: 16px 16px 16px 16px;
width: 100%;
position: relative;
      }
.stroke-wrapper-1_490 {
        position: relative;
width: 100%;
height: 80px;
display: flex;
flex-shrink: 0;
padding: 2px 2px 2px 2px;
      }
.stroke-1_490 {
        position: absolute;
inset: 0px;
border-radius: 16px 16px 16px 16px;
pointer-events: none;
border-width: 2px;
border-style: solid;
box-sizing: border-box;
border-color: rgba(0, 88, 188, 1);
      }
.Pixso-frame-1_491 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 16px;
align-items: center;
      }
.Pixso-frame-1_492 {
        width: 48px;
height: 48px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
border-radius: 12px 12px 12px 12px;
box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05) ;
background-color: rgba(255, 255, 255, 1);
      }
.frame-content-1_492 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
width: 100%;
height: 100%;
position: relative;
      }
.Pixso-vector-1_493 {
        width: 22px;
height: 16px;
background-image: url(@/assets/images/Container17.png);
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
align-items: flex-start;
      }
.Pixso-frame-1_495 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
gap: 5.3290705182007514e-14px;
align-items: flex-start;
      }
.Pixso-frame-1_496 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
align-items: flex-start;
      }
.frame-content-1_496 {
        display: flex;
flex-direction: column;
align-items: flex-start;
width: 100%;
position: relative;
      }
.Pixso-paragraph-1_497 {
        font-size: 18px;
font-family: "Source Han Sans CN-Regular";
font-weight: 400;
display: flex;
flex-direction: column;
justify-content: center;
line-height: 25.200000762939453px;
color: rgba(25, 28, 30, 1);
width: 168px;
height: 26px;
position: relative;
flex-shrink: 0;
      }
.Pixso-frame-1_498 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
align-items: flex-start;
      }
.frame-content-1_498 {
        display: flex;
flex-direction: column;
align-items: flex-start;
width: 100%;
position: relative;
      }
.Pixso-paragraph-1_499 {
        font-size: 14px;
font-family: "Source Han Sans CN-Regular";
font-weight: 400;
display: flex;
flex-direction: column;
justify-content: center;
line-height: 21px;
color: rgba(113, 119, 134, 1);
width: 116.25px;
height: 21px;
position: relative;
flex-shrink: 0;
      }
.Pixso-frame-1_500 {
        width: 24px;
height: 24px;
position: absolute;
left: 264.280029296875px;
top: 28px;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
border-radius: 9999px 9999px 9999px 9999px;
background-color: rgba(0, 88, 188, 1);
      }
.frame-content-1_500 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
width: 100%;
height: 100%;
position: relative;
      }
.Pixso-vector-1_501 {
        width: 10.86669921875px;
height: 8.0166015625px;
background-image: url(@/assets/images/Container16.png);
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
align-items: flex-start;
      }
.Pixso-frame-1_515 {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
border-radius: 16px 16px 16px 16px;
background-color: rgba(242, 244, 246, 1);
      }
.frame-content-1_515 {
        display: flex;
flex-direction: row;
gap: 43.45000076293945px;
align-items: center;
justify-content: flex-start;
padding: 16px 16px 16px 16px;
width: 100%;
position: relative;
      }
.stroke-wrapper-1_515 {
        position: relative;
width: 308px;
height: auto;
display: flex;
flex-shrink: 0;
padding: 1px 1px 1px 1px;
      }
.stroke-1_515 {
        position: absolute;
inset: 0px;
border-radius: 16px 16px 16px 16px;
pointer-events: none;
border-width: 1px;
border-style: solid;
box-sizing: border-box;
border-color: rgba(193, 198, 215, 0.30000001192092896);
      }
.Pixso-frame-1_516 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 16px;
align-items: center;
      }
.Pixso-frame-1_517 {
        width: 48px;
height: 48px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
border-radius: 12px 12px 12px 12px;
box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05) ;
background-color: rgba(255, 255, 255, 1);
      }
.frame-content-1_517 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
width: 100%;
height: 100%;
position: relative;
      }
.Pixso-vector-33_208 {
        width: 24px;
height: 24px;
background-image: url(@/assets/images/Property1ionbed.png);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 12px;
top: 12px;
      }
.Pixso-frame-1_520 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
gap: 5.3290705182007514e-14px;
align-items: flex-start;
      }
.Pixso-frame-1_521 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
align-items: flex-start;
      }
.frame-content-1_521 {
        display: flex;
flex-direction: column;
align-items: flex-start;
width: 100%;
position: relative;
      }
.Pixso-paragraph-1_522 {
        font-size: 18px;
font-family: "Source Han Sans CN-Regular";
font-weight: 400;
display: flex;
flex-direction: column;
justify-content: center;
line-height: 25.200000762939453px;
color: rgba(25, 28, 30, 1);
width: 142.52999877929688px;
height: 26px;
position: relative;
flex-shrink: 0;
      }
.Pixso-frame-1_523 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
align-items: flex-start;
      }
.frame-content-1_523 {
        display: flex;
flex-direction: column;
align-items: flex-start;
width: 100%;
position: relative;
      }
.Pixso-paragraph-1_524 {
        font-size: 14px;
font-family: "Source Han Sans CN-Regular";
font-weight: 400;
display: flex;
flex-direction: column;
justify-content: center;
line-height: 21px;
color: rgba(113, 119, 134, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-vector-1_525 {
        width: 20px;
height: 20px;
background-image: url(@/assets/images/Container15.png);
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
align-items: flex-start;
      }
.Pixso-paragraph-94_2230 {
        font-size: 18px;
font-family: "Source Han Sans CN-Regular";
font-weight: 400;
display: flex;
flex-direction: column;
justify-content: center;
line-height: 25.200000762939453px;
color: rgba(65, 71, 85, 1);
width: 308px;
height: auto;
position: absolute;
left: 22px;
top: 415px;
flex-grow: 0;
      }
.Pixso-frame-1_503 {
        width: 100%;
height: 100%;
position: relative;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
border-radius: 16px 16px 16px 16px;
background-color: rgba(242, 244, 246, 1);
      }
.frame-content-1_503 {
        display: flex;
flex-direction: row;
gap: 5.670000076293945px;
align-items: center;
justify-content: flex-start;
padding: 16px 16px 16px 16px;
width: 100%;
position: relative;
      }
.stroke-wrapper-1_503 {
        position: absolute;
left: 22px;
top: 455px;
width: 308px;
height: auto;
display: flex;
padding: 1px 1px 1px 1px;
      }
.stroke-1_503 {
        position: absolute;
inset: 0px;
border-radius: 16px 16px 16px 16px;
pointer-events: none;
border-width: 1px;
border-style: solid;
box-sizing: border-box;
border-color: rgba(193, 198, 215, 0.30000001192092896);
      }
.Pixso-frame-1_504 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 16px;
align-items: center;
      }
.Pixso-frame-1_505 {
        width: 48px;
height: 48px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
border-radius: 12px 12px 12px 12px;
box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05) ;
background-color: rgba(255, 255, 255, 1);
      }
.frame-content-1_505 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
width: 100%;
height: 100%;
position: relative;
      }
.Pixso-vector-1_506 {
        width: 18px;
height: 18px;
background-image: url(@/assets/images/Container14.png);
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
align-items: flex-start;
      }
.Pixso-frame-1_508 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
gap: 5.3290705182007514e-14px;
align-items: flex-start;
      }
.Pixso-frame-1_509 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
align-items: flex-start;
      }
.frame-content-1_509 {
        display: flex;
flex-direction: column;
align-items: flex-start;
width: 100%;
position: relative;
      }
.Pixso-paragraph-1_510 {
        font-size: 18px;
font-family: "Source Han Sans CN-Regular";
font-weight: 400;
display: flex;
flex-direction: column;
justify-content: center;
line-height: 25.200000762939453px;
color: rgba(25, 28, 30, 1);
width: 180.30999755859375px;
height: 26px;
position: relative;
flex-shrink: 0;
      }
.Pixso-frame-1_511 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
align-items: flex-start;
      }
.frame-content-1_511 {
        display: flex;
flex-direction: column;
align-items: flex-start;
width: 100%;
position: relative;
      }
.Pixso-paragraph-1_512 {
        font-size: 14px;
font-family: "Source Han Sans CN-Regular";
font-weight: 400;
display: flex;
flex-direction: column;
justify-content: center;
line-height: 21px;
color: rgba(113, 119, 134, 1);
width: 134.97999572753906px;
height: 21px;
position: relative;
flex-shrink: 0;
      }
.Pixso-vector-1_513 {
        width: 20px;
height: 20px;
background-image: url(@/assets/images/Container13.png);
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
align-items: flex-start;
      }
.Pixso-frame-1_532 {
        width: 100%;
height: 100%;
position: relative;
display: flex;
flex-direction: column;
align-items: flex-start;
background-color: rgba(242, 244, 246, 0.5);
      }
.frame-content-1_532 {
        display: flex;
flex-direction: column;
gap: 12px;
align-items: flex-start;
padding: 24px 24px 24px 24px;
width: 100%;
position: relative;
      }
.stroke-wrapper-1_532 {
        position: absolute;
left: 2px;
top: 624px;
right: 0px;
width: calc(100% - 2px);
height: auto;
display: flex;
padding: 1px 0px 0px 0px;
      }
.stroke-1_532 {
        position: absolute;
inset: 0px;
border-radius: 0px 0px 0px 0px;
pointer-events: none;
border-width: 1px 0px 0px 0px;
border-style: solid;
box-sizing: border-box;
border-color: rgba(224, 227, 229, 0.5);
      }
.Pixso-frame-1_533 {
        width: 100%;
height: 56.189998626708984px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
border-radius: 16px 16px 16px 16px;
background-color: rgba(0, 88, 188, 1);
      }
.frame-content-1_533 {
        display: flex;
flex-direction: row;
gap: 11.989999771118164px;
align-items: center;
justify-content: center;
padding: 15.5px 0px 15.6899995803833px 0px;
width: 100%;
position: relative;
      }
.Pixso-rectangle-1_534 {
        width: calc(100% - 0px);
height: calc(100% - 0px);
position: absolute;
left: 0px;
right: 0px;
top: 0px;
bottom: 0px;
border-radius: 16px 16px 16px 16px;
box-shadow: 0px 10px 15px -3px rgba(0, 88, 188, 0.2) , 0px 4px 6px -4px rgba(0, 88, 188, 0.2) ;
background-color: rgba(255, 255, 255, 0.0020000000949949026);
      }
.Pixso-vector-1_535 {
        width: 20px;
height: 20px;
background-image: url(@/assets/images/Container12.png);
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
align-items: center;
      }
.Pixso-paragraph-1_537 {
        font-size: 18px;
font-family: "Source Han Sans CN-Medium";
font-weight: 500;
text-align: center;
display: flex;
flex-direction: column;
justify-content: center;
line-height: 25.200000762939453px;
color: rgba(255, 255, 255, 1);
width: 124.55000305175781px;
height: auto;
position: relative;
flex-shrink: 0;
      }
.Pixso-frame-1_538 {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
border-radius: 16px 16px 16px 16px;
background-color: rgba(255, 255, 255, 1);
      }
.frame-content-1_538 {
        display: flex;
flex-direction: row;
gap: 11.989999771118164px;
align-items: center;
justify-content: center;
padding: 15.5px 0px 15.6899995803833px 0px;
width: 100%;
position: relative;
      }
.stroke-wrapper-1_538 {
        position: relative;
width: 100%;
height: auto;
display: flex;
flex-shrink: 0;
padding: 1px 1px 1px 1px;
      }
.stroke-1_538 {
        position: absolute;
inset: 0px;
border-radius: 16px 16px 16px 16px;
pointer-events: none;
border-width: 1px;
border-style: solid;
box-sizing: border-box;
border-color: rgba(193, 198, 215, 1);
      }
.Pixso-vector-1_539 {
        width: 20px;
height: 20px;
background-image: url(@/assets/images/bluetooth-replace.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
align-items: center;
      }
.Pixso-paragraph-1_541 {
        font-size: 18px;
font-family: "Source Han Sans CN-Medium";
font-weight: 500;
text-align: center;
display: flex;
flex-direction: column;
justify-content: center;
line-height: 25.200000762939453px;
color: rgba(25, 28, 30, 1);
width: 153.72000122070312px;
height: 26px;
position: relative;
flex-shrink: 0;
      }
.Pixso-frame-1_542 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
align-items: center;
      }
.frame-content-1_542 {
        display: flex;
flex-direction: column;
align-items: center;
padding: 8px 0px 0px 0px;
width: 100%;
position: relative;
      }
.Pixso-text-1_543 {
        font-size: 14px;
font-family: "Source Han Sans CN-Regular";
font-weight: Regular;
text-align: center;
display: flex;
flex-direction: column;
justify-content: center;
line-height: 21px;
color: rgba(113, 119, 134, 1);
width: 245.32000732421875px;
height: 21px;
position: relative;
flex-shrink: 0;
      }
.Pixso-paragraph-1_543_0 {
        line-height: 21px;
position: relative;
flex-shrink: 0;
      }
.Pixso-span-1_543_0_1 {
        font-size: 14px;
font-family: "Source Han Sans CN-Regular";
font-weight: 400;
color: rgba(113, 119, 134, 1);
position: relative;
flex-shrink: 0;
      }
.Pixso-span-1_543_0_2 {
        font-size: 14px;
font-family: "Source Han Sans CN-Regular";
font-weight: 400;
letter-spacing: 0px;
text-decoration: underline;
color: rgba(0, 88, 188, 1);
position: relative;
flex-shrink: 0;
      }
.Pixso-frame-1_544 {
        width: 100%;
height: 100%;
position: relative;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
backdrop-filter: blur(4px);
background-color: rgba(255, 255, 255, 0.8999999761581421);
      }
.frame-content-1_544 {
        display: flex;
flex-direction: row;
gap: 37.5px;
align-items: center;
justify-content: flex-start;
padding: 20px 24.010000228881836px 20px 24px;
width: 100%;
position: relative;
      }
.stroke-wrapper-1_544 {
        position: absolute;
left: 1px;
top: 1px;
right: 1px;
width: calc(100% - 2px);
height: auto;
display: flex;
padding: 0px 0px 1px 0px;
      }
.stroke-1_544 {
        position: absolute;
inset: 0px;
border-radius: 0px 0px 0px 0px;
pointer-events: none;
border-width: 0px 0px 1px 0px;
border-style: solid;
box-sizing: border-box;
border-color: rgba(224, 227, 229, 0.5);
      }
.Pixso-frame-1_545 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
      }
.Pixso-paragraph-1_546 {
        font-size: 18px;
font-family: "OPPOSans-Bold";
font-weight: 400;
text-align: center;
display: flex;
flex-direction: column;
justify-content: center;
line-height: 25.200000762939453px;
color: rgba(0, 88, 188, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-frame-1_547 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
align-items: flex-start;
      }
.Pixso-paragraph-1_548 {
        font-size: 24px;
font-family: "Source Han Sans CN-Medium";
font-weight: 500;
text-align: center;
display: flex;
flex-direction: column;
justify-content: center;
letter-spacing: -0.23999999463558197px;
line-height: 31.200000762939453px;
color: rgba(25, 28, 30, 1);
width: 126.55999755859375px;
height: 32px;
position: relative;
flex-shrink: 0;
      }
.Pixso-frame-1_549 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
      }
.Pixso-paragraph-1_550 {
        font-size: 18px;
font-family: "OPPOSans-Bold";
font-weight: 400;
text-align: center;
display: flex;
flex-direction: column;
justify-content: center;
line-height: 25.200000762939453px;
color: rgba(0, 88, 188, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }

