
.scroll-container {
        height: 100%;
width: 100%;
overflow: auto;
      }
.Pixso-frame-99_1117 {
        width: 100%;
height: 70px;
position: relative;
flex-shrink: 0;
      }
.Pixso-vector-99_1118 {
        width: 70px;
height: 70px;
background-image: url(@/assets/images/Ellipse_99_1118.png);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 50%;
top: 50%;
transform: translateX(calc(-50% + 0px)) translateY(calc(-50% + 0px));
      }
.Pixso-frame-99_1119 {
        width: 25px;
height: 24px;
position: absolute;
left: 50%;
top: 50%;
transform: translateX(calc(-50% + 0.5px)) translateY(calc(-50% + 0px));
display: flex;
flex-direction: column;
align-items: flex-start;
      }
.frame-content-99_1119 {
        display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px 0px 2px 0px;
width: 100%;
height: 100%;
position: relative;
      }
.Pixso-vector-99_1120 {
        width: 25px;
height: 24px;
background-image: url(@/assets/images/Container88.png);
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
align-items: center;
      }

