
.scroll-container {
        height: 100%;
width: 100%;
overflow: auto;
      }
.Pixso-frame-99_1306 {
        width: 100%;
height: 40px;
position: relative;
flex-shrink: 0;
      }
.Pixso-vector-99_1242 {
        width: 40px;
height: 40px;
background-image: url(@/assets/images/Ellipse_99_1242.png);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 0px;
top: 50%;
transform: translateY(calc(-50% + 0px));
      }
.Pixso-vector-99_1307 {
        width: 17.10345458984375px;
height: 14.28564453125px;
background-image: url(@/assets/images/Group_99_1307.png);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 12px;
top: 50%;
transform: translateY(calc(-50% + -0.8571481704711914px));
      }

