
.scroll-container {
        height: 100%;
width: 100%;
overflow: auto;
      }
.Pixso-frame-99_989 {
        width: 100%;
height: 70px;
position: relative;
flex-shrink: 0;
      }
.Pixso-vector-99_990 {
        width: 70px;
height: 70px;
background-image: url(@/assets/images/Ellipse_99_990.png);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 50%;
top: 0px;
transform: translateX(calc(-50% + 0px));
      }
.Pixso-vector-99_991 {
        width: 22.35089111328125px;
height: 27.21875px;
background-image: url(@/assets/images/Group_99_991.png);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 50%;
top: 50%;
transform: translateX(calc(-50% + 0.17544174194335938px)) translateY(calc(-50% + -0.3907909393310547px));
      }

