* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ol,ul,menu {
  padding-inline-start: 0;
  list-style: none;
}

ol li::marker, ul li::before {
  letter-spacing: 0;
}

.scroll-container > div {
  width: 100%;
}

.container > div {
  width: 100%;
}

.Pixso-canvas-0_1 > div {
  width: 100%;
}